<form [formGroup]="dateRangeGroup" fxLayout="row wrap" fxLayout.xs="column">
  <mat-form-field fxFlex.gt-xs="{{mainFlexProperty}}" fxFlex.xs="{{mobileFlexProperty}}">
    <input matInput [matDatepicker]="dateFrom" placeholder="Choose a start date" name="startDate"
           formControlName="startDate" [(ngModel)]="startDate" (dateChange)="updateStartDate($event.value)">
    <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
    <mat-datepicker #dateFrom touchUi="isMobile()"></mat-datepicker>
    <mat-error *ngIf="dateRangeGroup.controls['startDate'].hasError('startDateInvalid')">
      Start date cannot be later than end date
    </mat-error>
    <mat-error *ngIf="dateRangeGroup.controls['startDate'].hasError('required')">
      Start date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="{{mainFlexProperty}}" fxFlex.xs="{{mobileFlexProperty}}">
    <input matInput [matDatepicker]="dateTo" placeholder="Choose an end date" name="endDate" formControlName="endDate"
           [(ngModel)]="endDate" (dateChange)="updateEndDate($event.value)">
    <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
    <mat-datepicker #dateTo touchUi="isMobile()"></mat-datepicker>
    <mat-error *ngIf="dateRangeGroup.controls['endDate'].hasError('endDateInvalid')">
      End date cannot be earlier than start date
    </mat-error>
    <mat-error *ngIf="dateRangeGroup.controls['endDate'].hasError('required')">
      End date is required
    </mat-error>
  </mat-form-field>

  <section fxFlex.gt-xs="{{mainFlexProperty}}" fxFlex.xs="{{mobileFlexProperty}}">
    <h3 *ngIf="dateRangeGroup.valid" class="mat-typography c-date-range__description">Number of days taken:
      {{numberOfDays}}</h3>
  </section>
</form>
