<section fxLayout="row wrap">
  <app-page-header id="personal-details-header" [header]="'Personal details'"></app-page-header>

  <div fxLayoutAlign="center center" fxFlex="100">
    <mat-spinner aria-label="loading" *ngIf="isFetching"></mat-spinner>
  </div>
</section>

<section role="main" class="c-drawer" *ngIf="subject">
  <form [formGroup]="personalDetailsFormGroup">
    <mat-toolbar [color]="'primary'">My details</mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel id="personal-details-personal-information" [expanded]="stepNumber === 0"
                           (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form formGroupName="personalInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="First name" type="text" aria-required="true" matInput [required]="'required'"
                   placeholder="First name" formControlName="firstName"
                   id="personal-details-first-name" name="firstName">
            <mat-error id="personal-details-first-name-required"
                       *ngIf="personalDetailsFormGroup.get(['personalInformation', 'firstName']).hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Middle name" type="text" aria-required="false" matInput placeholder="Middle name"
                   id="personal-details-middle-name"
                   formControlName="middleName" name="middleName">
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Last name" type="text" aria-required="true" matInput [required]="'required'"
                   placeholder="Last name" formControlName="lastName"
                   id="personal-details-last-name" name="lastName">
            <mat-error id="personal-details-last-name-required"
                       *ngIf="personalDetailsFormGroup.get(['personalInformation', 'lastName']).hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Date of birth" type="text" aria-required="true" matInput [matDatepicker]="picker"
                   [required]="'required'" placeholder="Date of birth"
                   formControlName="dateOfBirth" id="personal-details-date-of-birth" name="dateOfBirth">
            <mat-error id="personal-details-date-of-birth-required"
                       *ngIf="personalDetailsFormGroup.get(['personalInformation', 'dateOfBirth']).hasError('required')">
              Date of birth is required
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [touchUi]="isMobile()"></mat-datepicker>
          </mat-form-field>
        </form>
        <mat-action-row>
          <button aria-label="Next step" type="button" id="personal-details-personal-information-next" mat-button
                  color="primary" (click)="nextStep()">Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>phone</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form formGroupName="contactInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <span aria-label="Telephone prefix" matPrefix>+44 (0) &nbsp;</span>
            <input aria-label="Telephone" type="tel" aria-required="true" matInput [required]="'required'"
                   placeholder="Telephone" formControlName="telephone" id="personal-details-telephone" name="telephone">
            <mat-error id="personal-details-telephone-min"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'telephone']).hasError('minlength')">
              Telephone number must contains at least 7 digits
            </mat-error>
            <mat-error id="personal-details-telephone-max"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'telephone']).hasError('maxlength')">
              Telephone number must contains maximum 11 digits
            </mat-error>
            <mat-error id="personal-details-telephone-required"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'telephone']).hasError('required')">
              Telephone is required
            </mat-error>
            <mat-error id="personal-details-telephone-pattern"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'telephone']).hasError('pattern')">
              Please enter a valid telephone
            </mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-email"></label>
            <input aria-label="Email" type="email" aria-required="true" matInput [required]="'required'"
                   placeholder="Email" formControlName="email"
                   id="personal-details-email" name="email">
            <mat-error id="personal-details-email-pattern"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'email']).hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error id="personal-details-email-required"
                       *ngIf="personalDetailsFormGroup.get(['contactInformation', 'email']).hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.get(['contactInformation', 'email']).touched &&
            personalDetailsFormGroup.get(['contactInformation', 'email']).hasError('emailTaken')">
              Email already in use
            </mat-error>
          </mat-form-field>

          <div formGroupName="address" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
               fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
               fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="First line" type="text" aria-required="false" matInput placeholder="First line address"
                     formControlName="firstLineAddress"
                     id="personal-details-1st-line-address" name="firstLineAddress">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="Second line" type="text" aria-required="false" matInput
                     placeholder="Second line address"
                     formControlName="secondLineAddress"
                     id="personal-details-2nd-line-address" name="secondLineAddress">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="Third line" type="text" aria-required="false" matInput placeholder="Third line address"
                     formControlName="thirdLineAddress"
                     id="personal-details-3rd-line-address" name="thirdLineAddress">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="Postcode" type="text" aria-required="true" matInput [required]="'required'"
                     placeholder="Postcode" formControlName="postcode" id="personal-details-postcode" name="postcode">
              <mat-error id="personal-details-postcode-pattern"
                         *ngIf="personalDetailsFormGroup.get(['contactInformation', 'address', 'postcode']).hasError('pattern')">
                Please enter a valid postcode
              </mat-error>
              <mat-error id="personal-details-postcode-required"
                         *ngIf="personalDetailsFormGroup.get(['contactInformation', 'address', 'postcode']).hasError('required')">
                Postcode is required
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="City" type="text" aria-required="false" matInput placeholder="City"
                     formControlName="city"
                     id="personal-details-city" name="city">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <input aria-label="Country" type="text" aria-required="false" matInput placeholder="Country"
                     formControlName="country"
                     id="personal-details-country" name="country">
            </mat-form-field>
          </div>
        </form>
        <mat-action-row>
          <button aria-label="Previous step" type="button" mat-button color="warn" (click)="prevStep()">Previous
          </button>
          <button aria-label="Next step" type="button" id="personal-details-contact-information-next" mat-button
                  color="primary" (click)="nextStep()">Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Employee details
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>perm_identity</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form formGroupName="employeeInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="National Insurance Number" type="text" aria-required="true" matInput
                   [required]="'required'" placeholder="National Insurance Number"
                   formControlName="nationalInsuranceNumber" id="personal-details-nin" name="nin">
            <mat-error id="personal-details-nin-required"
                       *ngIf="personalDetailsFormGroup.get(['employeeInformation', 'nationalInsuranceNumber']).hasError('required')">
              NIN is required
            </mat-error>
            <mat-error id="personal-details-nin-pattern"
                       *ngIf="personalDetailsFormGroup.get(['employeeInformation', 'nationalInsuranceNumber']).hasError('pattern')">
              NIN is not correct
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Employee number" type="text" aria-required="true" matInput [required]="'required'"
                   placeholder="Employee number" formControlName="employeeNumber" id="personal-details-employee-number"
                   name="employeeNumber">
            <mat-error id="personal-details-employee-number-required"
                       *ngIf="personalDetailsFormGroup.get(['employeeInformation', 'employeeNumber']).hasError('required')">
              Employee number is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Position" type="text" aria-required="true" matInput [required]="'required'"
                   placeholder="Position" formControlName="position"
                   id="personal-details-position" name="position">
            <mat-error id="personal-details-position-required"
                       *ngIf="personalDetailsFormGroup.get(['employeeInformation', 'position']).hasError('required')">
              Position is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Department" type="text" aria-required="false" matInput placeholder="Department"
                   formControlName="department"
                   id="employee-details-department" name="department">
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Start date" type="text" aria-required="false" id="personal-details-start-date" matInput
                   [matDatepicker]="startDatePicker" placeholder="Start date"
                   formControlName="startDate" name="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker [touchUi]="isMobile()"></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="End date" type="text" aria-required="false" id="personal-details-end-date" matInput
                   [matDatepicker]="endDatePicker" placeholder="End date"
                   formControlName="endDate" name="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker [touchUi]="isMobile()"></mat-datepicker>
          </mat-form-field>
        </form>

        <mat-action-row>
          <button aria-label="Previous step" type="button" mat-button color="warn" (click)="prevStep()">Previous
          </button>
          <button aria-label="Next step" type="button" id="personal-details-employee-information-next" mat-button
                  color="primary" (click)="nextStep()">Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            HR Information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>people_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form formGroupName="hrInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around wrap" fxLayoutAlign.lt-md="center stretch"
              fxLayoutGap="5%">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Allowance" type="number" aria-required="true" [required]="'required'"
                   id="personal-details-allowance" type="number" matInput
                   placeholder="Allowance" formControlName="allowance" name="allowance">
            <mat-error id="personal-details-allowance-min"
                       *ngIf="personalDetailsFormGroup.get(['hrInformation', 'allowance']).hasError('min')">
              Allowance cannot be negative
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Used allowance" type="number" aria-required="true" [required]="'required'"
                   id="personal-details-used-allowance" type="number" matInput
                   placeholder="Used allowance" formControlName="usedAllowance" name="usedAllowance">
            <mat-error id="personal-details-used-allowance-min"
                       *ngIf="personalDetailsFormGroup.get(['hrInformation', 'usedAllowance']).hasError('min')">
              Used allowance cannot be negative
            </mat-error>
          </mat-form-field>
        </form>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button id="personal-details-hr-information-next" mat-button color="primary" (click)="nextStep()">Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 4" (opened)="setStep(4)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Role
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>star_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
             fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input aria-label="Role" type="text" aria-required="true" [required]="'required'" id="personal-details-role"
                   type="text" matInput placeholder="Role" formControlName="role" name="role">
            <mat-error id="personal-details-role-required"
                       *ngIf="personalDetailsFormGroup.get('role').hasError('required')">
              Role is required
            </mat-error>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button aria-label="Previous step" type="button" mat-button color="warn" (click)="prevStep()">Previous
          </button>
          <button aria-label="Next step" type="button" mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-action-row class="c-drawer__actions">
      <button id="personal-details-submit-button" type="submit" mat-raised-button color="accent"
              [disabled]="!isValid() || isLoading" (click)="save()">Save
      </button>
      <mat-spinner aria-label="loading" aria-label="loading" class="c-loading-spinner" [diameter]="30" [color]="'warn'"
                   *ngIf="isLoading"></mat-spinner>
    </mat-action-row>
  </form>
</section>
