<app-page-header [header]="'Manage leave applications'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Manage leave applications</mat-toolbar>
  <mat-card>
    <div>
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="applicationId">
          <mat-header-cell *matHeaderCellDef> Application ID</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication"> {{leaveApplication.applicationId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="from">
          <mat-header-cell *matHeaderCellDef> From</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication"> {{leaveApplication.startDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="to">
          <mat-header-cell *matHeaderCellDef> To</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication"> {{leaveApplication.endDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <mat-header-cell *matHeaderCellDef> Employee name</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication"> {{leaveApplication.employeeId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="reject">
          <mat-header-cell *matHeaderCellDef> Reject</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication">
            <mat-icon class="mat-24">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="approve">
          <mat-header-cell *matHeaderCellDef> Approve</mat-header-cell>
          <mat-cell *matCellDef="let leaveApplication">
            <mat-icon class="mat-24">done</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card>
</section>
