<app-page-header [header]="'Delegation'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Apply for a delegation</mat-toolbar>
  <mat-card>
    <form [formGroup]="applicationForm">
      <div formGroupName="name" fxLayout.gt-xs="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around"
           fxLayoutAlign.lt-sm="center center">
        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-subject-id"></label>
          <input matInput placeholder="Subject ID" id="delegation-subject-id"
                 name="subjectId" formControlName="subjectId">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-first-name"></label>
          <input matInput id="delegation-first-name" placeholder="First name" name="firstName" formControlName="first">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-middle-name"></label>
          <input matInput placeholder="Middle name" id="delegation-middle-name" name="middleName"
                 formControlName="middle">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-last-name"></label>
          <input matInput placeholder="Last name" id="delegation-last-name" name="lastName" formControlName="last">
        </mat-form-field>
      </div>

      <div formGroupName="organisation" fxLayout.gt-xs="row wrap"
           fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutAlign.lt-sm="center center">
        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-position"></label>
          <input matInput placeholder="Position" id="delegation-position" name="position" formControlName="position">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-last-name"></label>
          <input matInput placeholder="Department" id="delegation-department" name="department"
                 formControlName="department">
        </mat-form-field>
      </div>

      <div formGroupName="delegation" fxLayout.gt-xs="row wrap"
           fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutAlign.lt-sm="center center">
        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <input #country matInput placeholder="Country" aria-label="Country" [matAutocomplete]="'auto'"
                 [formControl]="countryCtrl">
          <mat-autocomplete #auto="matAutocomplete">
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-city"></label>
          <input #city matInput placeholder="City" id="delegation-city" name="city" formControlName="city">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-objective"></label>
          <input #objective matInput placeholder="Objective" id="delegation-objective" name="objective"
                 formControlName="objective">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50" fxFlex.xs="100">
          <label for="delegation-budget"></label>
          <input #budget matInput placeholder="Budget" id="delegation-budget" name="budget" formControlName="budget">
        </mat-form-field>

        <app-date-range fxFlex="100" [mainFlexProperty]="50" [mobileFlexProperty]="100"
                        (updateStartDate)="setStartDate($event)" (updateEndDate)="setEndDate($event)"></app-date-range>
      </div>
      <button mat-raised-button color="primary" class="c-btn" [disabled]="isValid()">Submit</button>
    </form>
  </mat-card>
</section>
