@import 'variables';

.c-sidenav {
  &__element {
    text-align: center;
    width: 220px;
  }

  &__item {
    display: inline-block;
    width: 100%;
  }

  &__icon {
    color: $navbar-icon-color;
    display: inline;
  }
}
