<div class="c-sidenav__element">
  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['dashboard'] } }]">
    <i class="material-icons c-sidenav__icon">dashboard</i>
    Dashboard
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['personal-details'] } }]">
    <i class="material-icons c-sidenav__icon">account_circle</i>
    Personal details
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['leave-application'] } }]">
    <i class="material-icons c-sidenav__icon">card_travel</i>
    Leave application
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['delegation'] } }]">
    <i class="material-icons c-sidenav__icon">airplanemode_active</i>
    Delegation
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['report'] } }]">
    <i class="material-icons c-sidenav__icon">show_chart</i>
    Report
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['workers'] } }]">
    <i class="material-icons c-sidenav__icon">people</i>
    Workers
  </button>

  <button mat-button class="c-sidenav__item" [routerLink]="[{ outlets: { core: ['about'] } }]">
    <i class="material-icons c-sidenav__icon">info_outline</i>
    About
  </button>
</div>
