<section class="c-dashboard" fxLayout="row wrap" fxLayoutAlign.gt-md="start start"
         fxLayoutAlign.md="space-between start" fxLayoutAlign.lt-md="center start">

  <div class="c-dashboard__chart" fxFlex.gt-md="33" fxFlex.md="40" fxFlex.sm="45" fxFlex.xs="100">
    <app-number-indicator [number]="subject?.hrInformation?.allowance"
                          [description]="'Total allowance'"></app-number-indicator>
  </div>

  <div class="c-dashboard__chart" fxFlex.gt-md="34" fxFlex.md="40" fxFlex.sm="45" fxFlex.xs="100">
    <app-number-indicator [number]="subject?.hrInformation?.usedAllowance"
                          [description]="'Used allowance'"></app-number-indicator>
  </div>

  <div class="c-dashboard__chart" fxFlex.gt-md="33" fxFlex.md="40" fxFlex.sm="45" fxFlex.xs="100">
    <app-number-indicator [number]="allowanceLeft" [description]="'Allowance left'"></app-number-indicator>
  </div>

  <div class="c-dashboard__chart" fxFlex.gt-md="50" fxFlex.md="100" fxFlex.lt-sm="100">
    <canvas #monthlySummariesChart id="monthlySummariesChart">{{ monthlySummariesChart }}</canvas>
  </div>

  <div class="c-dashboard__chart" fxFlex.gt-md="50" fxFlex.md="100" fxFlex.lt-sm="100"
       *ngIf="role === 'ROLE_MANAGER' || role === 'ROLE_HRTEAMMEMBER'">
    <app-number-indicator [number]="totalDelegationExpenditure.totalExpenditure | currency:'GBP'"
                          [description]="totalDelegationExpenditure.year"></app-number-indicator>
  </div>

  <div class="c-dashboard__chart" fxFlex.gt-md="100" fxFlex.md="100" fxFlex.lt-sm="100">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <h3 class="c-dashboard__label">People on leave today</h3>
    <mat-table #subjectsOnLeave [dataSource]="dataSource" *ngIf="!isLoadingResults">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
        <mat-cell *matCellDef="let subject"> {{subject.personalInformation.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
        <mat-cell *matCellDef="let subject"> {{subject.personalInformation.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
        <mat-cell *matCellDef="let subject"> {{subject.employeeInformation.position}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5">
    </mat-paginator>
  </div>
</section>
