.c-dashboard {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  &__chart {
    margin-top: 3%;
  }

  &__card {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
  }

  &__label {
    margin-bottom: 2%;
  }
}
