@import 'variables';

.c-drawer {
  margin-left: $drawer-margin;
  margin-top: $workspace-margin-top;
  width: $drawer-width;

  &__icon {
    display: flex;
    justify-content: flex-end;
    margin-right: $drawer-btn-right-margin;
  }

  &__actions {
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 2%;
  }
}

.c-loading-spinner {
  margin-left: 2%;
}
