<section fxLayout="row wrap">
  <app-page-header [header]="'Add employee'"></app-page-header>
</section>

<section class="c-drawer">
  <mat-toolbar [color]="'primary'">New employee details</mat-toolbar>
  <mat-accordion>
    <form [formGroup]="newSubjectForm">
      <mat-expansion-panel [expanded]="stepNumber === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form formGroupName="personalInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-first-name"></label>
            <input matInput required="required" placeholder="First name" formControlName="firstName"
                   id="personal-details-first-name" name="firstName">
            <mat-error *ngIf="newSubjectForm.get(['personalInformation', 'firstName']).touched &&
            newSubjectForm.get(['personalInformation', 'firstName']).hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-middle-name"></label>
            <input matInput placeholder="Middle name" id="personal-details-middle-name"
                   formControlName="middleName" name="middleName">
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-last-name"></label>
            <input matInput required="required" placeholder="Last name" formControlName="lastName"
                   id="personal-details-last-name" name="lastName">
            <mat-error *ngIf="newSubjectForm.get(['personalInformation', 'lastName']).touched &&
            newSubjectForm.get(['personalInformation', 'lastName']).hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-date-of-birth"></label>
            <input matInput [matDatepicker]="picker" type="text" [required]="'required'" placeholder="Date of birth"
                   formControlName="dateOfBirth" id="personal-details-date-of-birth" name="dateOfBirth">
            <mat-error *ngIf="newSubjectForm.get(['personalInformation', 'dateOfBirth']).touched &&
            newSubjectForm.get(['personalInformation', 'dateOfBirth']).hasError('required')">
              Date of birth is required
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="isMobile()" #picker></mat-datepicker>
          </mat-form-field>
        </form>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>phone</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form formGroupName="contactInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <span matPrefix>+44 (0) &nbsp;</span>
            <label for="personal-details-telephone"></label>
            <input type="tel" matInput [required]="'required'" placeholder="Telephone" formControlName="telephone"
                   id="personal-details-telephone" name="telephone">
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'telephone']).touched &&
            newSubjectForm.get(['contactInformation', 'telephone']).hasError('minlength')">
              Telephone number must contains at least 7 digits
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'telephone']).touched &&
            newSubjectForm.get(['contactInformation', 'telephone']).hasError('maxlength')">
              Telephone number must contains maximum 11 digits
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'telephone']).touched &&
            newSubjectForm.get(['contactInformation', 'telephone']).hasError('required')">
              Telephone is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'telephone']).touched &&
            newSubjectForm.get(['contactInformation', 'telephone']).hasError('pattern')">
              Please enter a valid telephone
            </mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-email"></label>
            <input type="email" matInput required="required" placeholder="Email" formControlName="email"
                   id="personal-details-email" name="email">
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'email']).touched &&
            newSubjectForm.get(['contactInformation', 'email']).hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'email']).touched &&
            newSubjectForm.get(['contactInformation', 'email']).hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'email']).touched &&
            newSubjectForm.get(['contactInformation', 'email']).hasError('emailTaken')">
              Email already in use
            </mat-error>
          </mat-form-field>

          <div formGroupName="address" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
               fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
               fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-1st-line-address"></label>
              <input type="text" matInput placeholder="First line address" formControlName="firstLineAddress"
                     id="personal-details-1st-line-address" name="firstLineAddress">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-2nd-line-address"></label>
              <input type="text" matInput placeholder="Second line address" formControlName="secondLineAddress"
                     id="personal-details-2nd-line-address" name="secondLine">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-3rd-line-address"></label>
              <input type="text" matInput placeholder="Third line address" formControlName="thirdLineAddress"
                     id="personal-details-3rd-line-address" name="thirdLineAddress">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-postcode"></label>
              <input type="text" matInput required="required" placeholder="Postcode" formControlName="postcode"
                     id="personal-details-postcode" name="postcode">
              <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'address', 'postcode']).touched &&
              newSubjectForm.get(['contactInformation', 'address', 'postcode']).hasError('pattern')">
                Please enter a valid postcode
              </mat-error>
              <mat-error *ngIf="newSubjectForm.get(['contactInformation', 'address', 'postcode']).touched &&
              newSubjectForm.get(['contactInformation', 'address', 'postcode']).hasError('required')">
                Postcode is required
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-city"></label>
              <input type="text" matInput placeholder="City" formControlName="city"
                     id="personal-details-city" name="city">
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
              <label for="personal-details-country"></label>
              <input type="text" matInput placeholder="Country" formControlName="country"
                     id="personal-details-country" name="country">
            </mat-form-field>
          </div>
        </form>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Employee details
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>perm_identity</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form formGroupName="employeeInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-nin"></label>
            <input type="text" matInput [required]="'required'" placeholder="National Insurance Number"
                   formControlName="nationalInsuranceNumber" id="personal-details-nin" name="nin">
            <mat-error
              *ngIf="newSubjectForm.get(['employeeInformation', 'nationalInsuranceNumber']).touched &&
              newSubjectForm.get(['employeeInformation', 'nationalInsuranceNumber']).hasError('required')">
              NIN is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['employeeInformation', 'nationalInsuranceNumber']).touched &&
              newSubjectForm.get(['employeeInformation', 'nationalInsuranceNumber']).hasError('pattern')">
              NIN is not correct
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-position"></label>
            <input type="text" matInput [required]="'required'" placeholder="Position" formControlName="position"
                   id="personal-details-position" name="position">
            <mat-error *ngIf="newSubjectForm.get(['employeeInformation', 'position']).touched &&
              newSubjectForm.get(['employeeInformation', 'position']).hasError('required')">
              Position is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-department"></label>
            <input type="text" matInput placeholder="Department" formControlName="department"
                   id="personal-details-department" name="department">
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="personal-details-employee-number"></label>
            <input type="text" matInput [required]="'required'" placeholder="Employee number"
                   formControlName="employeeNumber"
                   id="personal-details-employee-number" name="employeeNumber">
            <mat-error *ngIf="newSubjectForm.get(['employeeInformation', 'employeeNumber']).touched &&
              newSubjectForm.get(['employeeInformation', 'employeeNumber']).hasError('required')">
              Employee number is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input matInput [matDatepicker]="startDatePicker" type="text" placeholder="Start date"
                   aria-label="Start date" formControlName="startDate" name="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="isMobile()" #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input matInput [matDatepicker]="endDatePicker" type="text" placeholder="End date"
                   aria-label="End date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="isMobile()" #endDatePicker></mat-datepicker>
          </mat-form-field>
        </form>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            HR Information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>people_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form formGroupName="hrInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input type="number" matInput [required]="'required'" placeholder="Allowance"
                   formControlName="allowance" name="allowance">
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'allowance']).touched &&
            newSubjectForm.get(['hrInformation', 'allowance']).hasError('required')">
              Allowance is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'allowance']).touched &&
            newSubjectForm.get(['hrInformation', 'allowance']).hasError('pattern')">
              Allowance can contains only numerical value
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'allowance']).touched &&
            newSubjectForm.get(['hrInformation', 'allowance']).hasError('min')">
              Allowance cannot be negative
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <input type="number" matInput [required]="'required'" placeholder="Used allowance" name="usedAllowance"
                   formControlName="usedAllowance">
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'usedAllowance']).touched &&
            newSubjectForm.get(['hrInformation', 'usedAllowance']).hasError('required')">
              Used allowance is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'usedAllowance']).touched &&
            newSubjectForm.get(['hrInformation', 'usedAllowance']).hasError('pattern')">
              Used allowance can contains only numerical value
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['hrInformation', 'usedAllowance']).touched &&
            newSubjectForm.get(['hrInformation', 'usedAllowance']).hasError('min')">
              Used allowance cannot be negative
            </mat-error>
          </mat-form-field>
        </form>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 4" (opened)="setStep(4)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Role
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>star_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout.gt-sm="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around"
             fxLayoutAlign.lt-sm="center center">
          <mat-form-field>
            <mat-select placeholder="Role" name="role" id="role" formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="newSubjectForm.get('role').touched &&
            newSubjectForm.get('role').hasError('required')">
              Role is required
            </mat-error>
          </mat-form-field>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="stepNumber === 5" (opened)="setStep(5)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Login information
          </mat-panel-title>
          <mat-panel-description class="c-drawer__icon">
            <mat-icon>vpn_key</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form formGroupName="user" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
              fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
              fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="account-details-username"></label>
            <input matInput #username type="text" required="required" placeholder="Username"
                   formControlName="username" id="account-details-username" name="username">
            <mat-error *ngIf="newSubjectForm.get(['user', 'username']).touched &&
            newSubjectForm.get(['user', 'username']).hasError('required')">
              Username is required
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['user', 'username']).touched &&
            newSubjectForm.get(['user', 'username']).hasError('usernameTaken')">
              Username already in use
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="account-details-password"></label>
            <input matInput #password type="password" required="required" placeholder="Password"
                   formControlName="password" id="account-details-password" name="password">
            <mat-error *ngIf="newSubjectForm.get(['user', 'password']).touched &&
            newSubjectForm.get(['user', 'password']).hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-md="30" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
            <label for="account-details-repeat-password"></label>
            <input matInput #repeatedPassword type="password" required="required" placeholder="Repeat password"
                   id="account-details-repeat-password" name="password" formControlName="repeatPassword">
            <mat-error *ngIf="newSubjectForm.get(['user', 'repeatPassword']).touched &&
            newSubjectForm.get(['user', 'repeatPassword']).hasError('passwordDoNotMatch')">
              Passwords do not match
            </mat-error>
            <mat-error *ngIf="newSubjectForm.get(['user', 'repeatPassword']).touched &&
            newSubjectForm.get(['user', 'repeatPassword']).hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </form>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>
  </mat-accordion>

  <mat-action-row class="c-drawer__actions">
    <button type="submit" mat-raised-button color="accent" [disabled]="!isValid() || isLoading"
            (click)="save()">Submit
    </button>
    <mat-spinner aria-label="loading" class="c-loading-spinner" [diameter]="30" [color]="'warn'"
                 *ngIf="isLoading"></mat-spinner>
  </mat-action-row>
</section>
