<app-page-header [header]="'Account'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Your account</mat-toolbar>
  <mat-card>
    <div fxLayout="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
      <form [formGroup]="accountFormGroup" fxLayout="column" fxFlex="50" fxFlex.xs="100">
        <mat-form-field>
          <input type="password" #currentPassword matInput placeholder="Current password"
                 formControlName="currentPasswordController">
        </mat-form-field>

        <mat-form-field>
          <input type="password" #newPassword matInput placeholder="New password"
                 formControlName="newPasswordController">
        </mat-form-field>

        <mat-form-field>
          <input type="password" #repeatPassword matInput placeholder="Repeat new password"
                 formControlName="repeatPasswordController">
        </mat-form-field>
        <mat-error *ngIf="!passwordsAreIdentical(newPassword.value, repeatPassword.value)">
          Passwords do not match
        </mat-error>
      </form>
      <form [formGroup]="accountFormGroup" fxLayout="column" fxFlex="50" fxFlex.xs="100">
        <mat-form-field>
          <input type="email" #currentEmail matInput placeholder="Email"
                 formControlName="emailController">
        </mat-form-field>
        <mat-error *ngIf="accountFormGroup.controls['emailController'].hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="accountFormGroup.controls['emailController'].hasError('required') &&
        accountFormGroup.controls['emailController'].touched">
          Email is required
        </mat-error>
      </form>
    </div>
    <button type="submit" mat-raised-button color="accent" [disabled]="!accountFormGroup.valid">Save</button>
  </mat-card>
</section>
