<app-page-header [header]="'My leave'"></app-page-header>
<md-horizontal-stepper [linear]="isLinear" class="c-my-leave">
  <md-step [stepControl]="dateRangeForm">
    <form [formGroup]="dateRangeForm">
      <ng-template mdStepLabel>Leave type</ng-template>
      <app-dropdown [description]="'Select leave type'" [required]="true"></app-dropdown>
      <button md-button mdStepperNext class="c-my-leave__btn">Next</button>
    </form>
  </md-step>
  <md-step [stepControl]="leaveDetailsForm">
    <form [formGroup]="leaveDetailsForm">
      <ng-template mdStepLabel>Leave details</ng-template>
      <p-calendar [inline]="true" [selectionMode]="'range'" [dateFormat]="'dd/mm/yyyy'"
                  [selectOtherMonths]="true"></p-calendar>
      <div>
        <button md-button mdStepperPrevious>Back</button>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>
  <md-step>
    <ng-template mdStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button md-button mdStepperPrevious>Back</button>
    </div>
  </md-step>
</md-horizontal-stepper>
