@import 'variables';

.c-sidenav {

  &__item {
    width: 100%;
    display: inline-block;
  }

  &__anchor {
    display: inline-block;
    font-size: 1em;
    text-decoration: inherit;
    color: inherit;
  }

  &__icon {
    color: $navBar__icon-color;
    display: inline;
  }
}
