<section fxLayout="row wrap">
  <app-page-header [header]="'Manage employees\' data'"></app-page-header>

  <mat-form-field fxLayoutAlign="center" fxFlex="100">
    <input matInput placeholder="Start typing last name" aria-label="Employee" [matAutocomplete]="auto"
           [formControl]="employeesCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let employee of employees" [value]="employee.firstName + ' ' + employee.lastName">
        <span>{{employee.firstName}} {{ employee.lastName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</section>

<section class="c-drawer" *ngIf="subject">
  <mat-toolbar [color]="'primary'">Employee details</mat-toolbar>
  <mat-accordion [formGroup]="employeeForm">
    <mat-expansion-panel [expanded]="stepNumber === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroupName]="personalInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
            fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around wrap" fxLayoutAlign.lt-md="center stretch">
        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-first-name"></label>
          <input matInput required="required" placeholder="First name" formControlName="firstName"
                 id="employee-details-first-name" name="firstName" [(ngModel)]="subject.firstName">
          <mat-error *ngIf="personalInformationFormGroup.controls['firstName'].hasError('required')">
            First name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-middle-name"></label>
          <input matInput placeholder="Middle name" id="employee-details-middle-name"
                 formControlName="middleName" name="middleName"
                 [(ngModel)]="subject.personalInformation.middleName">
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-last-name"></label>
          <input matInput required="required" placeholder="Last name" formControlName="lastName"
                 id="employee-details-last-name" name="lastName" [(ngModel)]="subject.lastName">
          <mat-error *ngIf="personalInformationFormGroup.controls['lastName'].hasError('required')">
            Last name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-date-of-birth"></label>
          <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
                 id="employee-details-date-of-birth" name="dateOfBirth"
                 [(ngModel)]="subject.personalInformation.dateOfBirth">
          <mat-error *ngIf="personalInformationFormGroup.controls['dob'].hasError('required')">
            Date of birth is required
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [touchUi]="isMobile()"></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-position"></label>
          <input matInput required="required" placeholder="Position" formControlName="position"
                 id="employee-details-position" name="position" [(ngModel)]="subject.employeeInformation.position">
        </mat-form-field>
      </form>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="stepNumber === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>phone</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroupName]="contactInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
            fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around wrap" fxLayoutAlign.lt-md="center stretch">
        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <span matPrefix>+44 (0) &nbsp;</span>
          <label for="employee-details-telephone"></label>
          <input type="tel" matInput placeholder="Telephone" formControlName="telephone"
                 id="employee-details-telephone" name="telephone" [(ngModel)]="subject.contactInformation.telephone">
          <mat-error *ngIf="contactInformationFormGroup.controls['telephone'].hasError('minlength')">
            Telephone number must contains at least 7 digits
          </mat-error>
          <mat-error *ngIf="contactInformationFormGroup.controls['telephone'].hasError('maxlength')">
            Telephone number must contains maximum 11 digits
          </mat-error>
          <mat-error *ngIf="contactInformationFormGroup.controls['telephone'].hasError('required')">
            Telephone is required
          </mat-error>
          <mat-error *ngIf="contactInformationFormGroup.controls['telephone'].hasError('pattern')">
            Please enter a valid telephone
          </mat-error>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-email"></label>
          <input type="email" matInput placeholder="Email" formControlName="email"
                 id="employee-details-email" name="email" [(ngModel)]="subject.contactInformation.email">
          <mat-error *ngIf="contactInformationFormGroup.controls['email'].hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="contactInformationFormGroup.controls['email'].hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-1st-line-address"></label>
          <input type="text" matInput placeholder="First line address" formControlName="firstLineAddress"
                 id="employee-details-1st-line-address" name="firstLineAddress"
                 [(ngModel)]="subject.contactInformation.address.firstLineAddress">
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-2nd-line-address"></label>
          <input type="text" matInput placeholder="Second line address" formControlName="secondLineAddress"
                 id="employee-details-2nd-line-address" name="secondLineAddress"
                 [(ngModel)]="subject.contactInformation.address.secondLineAddress">
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-3rd-line-address"></label>
          <input type="text" matInput placeholder="Third line address" formControlName="thirdLineAddress"
                 id="employee-details-3rd-line-address" name="thirdLineAddress"
                 [(ngModel)]="subject.contactInformation.address.thirdLineAddress">
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-postcode"></label>
          <input type="text" matInput required="required" placeholder="Postcode" formControlName="postcode"
                 id="employee-details-postcode" name="postcode"
                 [(ngModel)]="subject.contactInformation.address.postcode">
          <mat-error *ngIf="contactInformationFormGroup.controls['postcode'].hasError('pattern')">
            Please enter a valid postcode
          </mat-error>
          <mat-error *ngIf="contactInformationFormGroup.controls['postcode'].hasError('required')">
            Postcode is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-city"></label>
          <input type="text" matInput placeholder="City" formControlName="city"
                 id="employee-details-city" name="city" [(ngModel)]="subject.contactInformation.address.city">
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-country"></label>
          <input type="text" matInput placeholder="Country" formControlName="country"
                 id="employee-details-country" name="country"
                 [(ngModel)]="subject.contactInformation.address.country">
        </mat-form-field>
      </form>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="stepNumber === 2" (opened)="setStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Employee details
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>perm_identity</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroupName]="employeeInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
            fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around wrap" fxLayoutAlign.lt-md="center stretch">
        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-nin"></label>
          <input type="text" matInput placeholder="National Insurance Number" formControlName="nin"
                 id="employee-details-nin" name="nin"
                 [(ngModel)]="subject.employeeInformation.nationalInsuranceNumber">
          <mat-error *ngIf="employeeDetailsFormGroup.controls['nin'].hasError('required')">
            NIN is required
          </mat-error>
          <mat-error *ngIf="employeeDetailsFormGroup.controls['nin'].hasError('pattern')">
            NIN is not correct
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <label for="employee-details-employeeId"></label>
          <input type="text" matInput placeholder="Employee ID" formControlName="employeeId"
                 id="employee-details-employeeId" name="employeeId"
                 [(ngModel)]="subject.employeeInformation.employeeId">
          <mat-error *ngIf="employeeDetailsFormGroup.controls['employeeId'].hasError('required')">
            Employee ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <input matInput [matDatepicker]="startDatePicker" placeholder="Start date"
                 formControlName="startDate" name="startDate"
                 [(ngModel)]="subject.employeeInformation.startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker [touchUi]="isMobile()"></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <input matInput [matDatepicker]="endDatePicker" placeholder="End date" formControlName="endDate"
                 name="endDate" [(ngModel)]="subject.employeeInformation.endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker [touchUi]="isMobile()"></mat-datepicker>
        </mat-form-field>
      </form>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="stepNumber === 3" (opened)="setStep(3)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          HR Information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>people_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroupName]="hrInformation" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
            fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around wrap" fxLayoutAlign.lt-md="center stretch">

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <input type="number" matInput placeholder="Allowance"
                 formControlName="allowance" name="allowance"
                 [ngModel]="subject.hrInformation.allowance">
          <mat-error *ngIf="hrInformationFormGroup.controls['allowance'].hasError('min')">
            Allowance cannot be negative
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-md="33" fxFlex.md="50" fxFlex.lt-md="100">
          <input type="number" matInput placeholder="Used allowance"
                 formControlName="usedAllowance"
                 name="usedAllowance" [ngModel]="subject.hrInformation.usedAllowance">
          <mat-error *ngIf="hrInformationFormGroup.controls['usedAllowance'].hasError('min')">
            Used allowance cannot be negative
          </mat-error>
        </mat-form-field>
      </form>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <button type="submit" class="c-btn" mat-raised-button color="accent" [disabled]="!isValid()" (click)="save()">Save
  </button>
</section>
