<app-page-header [header]="'Leave application'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Apply for a leave</mat-toolbar>
  <mat-card>
    <form class="c-form">
      <div class="c-form--column">
        <mat-radio-group class="c-radio" [required]="true" [(ngModel)]="selectorType"
                         [ngModelOptions]="{standalone: true}" name="selectorType" ngDefaultControl>
          <mat-radio-button class="c-radio__option" value="single">Single day</mat-radio-button>
          <mat-radio-button class="c-radio__option" value="range">Range</mat-radio-button>
          <mat-radio-button class="c-radio__option" value="multiple">Multiple days</mat-radio-button>
        </mat-radio-group>
        <mat-select placeholder="Leave type">
          <mat-option *ngFor="let leaveType of leaveTypes" [(ngModel)]="leaveApplication.leaveType" name="leaveType">
            {{ leaveType }}
          </mat-option>
        </mat-select>
        <mat-form-field class="c-textarea">
          <textarea matInput #message maxlength="500" placeholder="Message (optional)"
                    [(ngModel)]="leaveApplication.message" name="message"></textarea>
          <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
        </mat-form-field>
      </div>
      <p-calendar class="c-calendar" [selectionMode]="selectorType" [showIcon]="true" [inline]="true"
                  [dateFormat]="'dd/mm/yy'" [readonlyInput]="true" [selectOtherMonths]="true" [(ngModel)]="dateRange"
                  [ngModelOptions]="{standalone: true}" [showButtonBar]="true" (onSelect)="setEntryDates()"
                  (onClearClick)="clearEntryDates()" (onTodayClick)="clearEndDate()"
                  (blur)="setLeaveDates()" name="selectedDays"></p-calendar>
    </form>
  </mat-card>
</section>
