<app-page-header [header]="'Personal details'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">My details</mat-toolbar>
  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="c-form">
        <mat-form-field class="c-form__element">
          <label for="personal-details-first-name"></label>
          <input matInput required="required" placeholder="First name" [formControl]="firstNameFormControl"
                 id="personal-details-first-name" name="firstName" [ngModel]="subject?.firstName">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            First name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-middle-name"></label>
          <input matInput placeholder="Middle name" id="personal-details-middle-name"
                 name="middleName" [ngModel]="subject?.middleName">
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-last-name"></label>
          <input matInput required="required" placeholder="Last name" [formControl]="lastNameFormControl"
                 id="personal-details-last-name" name="lastName" [ngModel]="subject?.lastName">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            Last name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-date-of-birth"></label>
          <input matInput [matDatepicker]="picker" placeholder="Date of birth" [formControl]="dobFormControl"
                 id="personal-details-date-of-birth" name="dateOfBirth" [ngModel]="subject?.dateOfBirth">
          <mat-error *ngIf="dobFormControl.hasError('required')">
            Date of birth is required
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-position"></label>
          <input matInput required="required" disabled placeholder="Position" id="personal-details-position"
                 name="position" [ngModel]="subject?.position">
        </mat-form-field>
      </form>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>phone</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="c-form">
        <mat-form-field class="c-form__element">
          <span matPrefix>+44 (0) &nbsp;</span>
          <label for="personal-details-telephone"></label>
          <input type="tel" matInput placeholder="Telephone" [formControl]="telephoneFormControl"
                 id="personal-details-telephone" name="telephone" [ngModel]="subject?.telephone">
          <mat-error *ngIf="telephoneFormControl.hasError('minlength')">
            Telephone number must contains at least 7 digits
          </mat-error>
          <mat-error *ngIf="telephoneFormControl.hasError('maxlength')">
            Telephone number must contains maximum 11 digits
          </mat-error>
          <mat-error *ngIf="telephoneFormControl.hasError('required')">
            Telephone is required
          </mat-error>
          <mat-error *ngIf="telephoneFormControl.hasError('pattern')">
            Please enter a valid telephone
          </mat-error>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-email"></label>
          <input type="email" matInput placeholder="Email" [formControl]="emailFormControl" id="personal-details-email"
                 name="email" [ngModel]="subject?.email">
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-1st-line-address"></label>
          <input type="text" matInput placeholder="First line address" id="personal-details-1st-line-address"
                 name="firstLineAddress" [ngModel]="subject?.address?.firstLineAddress">
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-2nd-line-address"></label>
          <input type="text" matInput placeholder="Second line address" id="personal-details-2nd-line-address"
                 name="secondLineAddress" [ngModel]="subject?.address?.secondLineAddress">
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-3rd-line-address"></label>
          <input type="text" matInput placeholder="Third line address" id="personal-details-3rd-line-address"
                 name="thirdLineAddress" [ngModel]="subject?.address?.thirdLineAddress">
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-postcode"></label>
          <input type="text" matInput required="required" placeholder="Postcode" [formControl]="postcodeFormControl"
                 id="personal-details-postcode" name="postcode" [ngModel]="subject?.address?.postcode">
          <mat-error *ngIf="postcodeFormControl.hasError('pattern')">
            Please enter a valid postcode
          </mat-error>
          <mat-error *ngIf="postcodeFormControl.hasError('required')">
            Postcode is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-city"></label>
          <input type="text" matInput placeholder="City" id="personal-details-city" name="city"
                 [ngModel]="subject?.address?.city">
        </mat-form-field>

        <mat-form-field class="c-form__element">
          <label for="personal-details-country"></label>
          <input type="text" matInput placeholder="Country" id="personal-details-country"
                 name="country" [ngModel]="subject?.address?.country">
        </mat-form-field>
      </form>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
  <button type="submit" mat-raised-button color="accent" [disabled]="!isValid()">Save</button>
</section>
