<mat-card class="c-login-box">
  <mat-card-header class="c-login-box__header">
    <mat-card-title class="c-login-box__title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginBoxForm" fxLayout="column" fxLayoutAlign="space-around">
      <mat-form-field fxFlex="100">
        <label for="login-page-username"></label>
        <input matInput required="required" placeholder="Username"
               id="login-page-username" name="username" formControlName="username">
      </mat-form-field>
      <mat-error *ngIf="loginBoxForm.controls['username'].hasError('required') &&
        loginBoxForm.controls['username'].touched">
        Username is required
      </mat-error>

      <mat-form-field fxFlex="100">
        <label for="login-page-password"></label>
        <input matInput required="required" type="password" placeholder="Password"
               id="login-page-password" name="password" formControlName="password">
      </mat-form-field>
      <mat-error *ngIf="loginBoxForm.controls['password'].hasError('required') &&
        loginBoxForm.controls['password'].touched">
        Password is required
      </mat-error>
    </form>
  </mat-card-content>
  <mat-card-actions class="c-login-box__actions">
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
