<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Allowance settings</mat-toolbar>
  <mat-card role="presentation">
    <form [formGroup]="allowanceSettingsForm" fxLayout.gt-md="row wrap" fxLayout.md="row wrap"
          fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-around stretch"
          fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="5">
      <div fxFlex.gt-md="50" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
        <mat-slide-toggle #autoResetAllowance formControlName="autoResetAllowance">Automatically reset allowance
        </mat-slide-toggle>
      </div>

      <mat-form-field fxFlex.gt-md="50" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
        <input aria-label="Reset date" aria-required="true" matInput [matDatepicker]="resetDatePicker"
               placeholder="Reset date" formControlName="resetDate" name="resetDate" type="text"
               [errorStateMatcher]="parentMatcher" appDisableControl [disable]="!autoResetAllowance.checked"
               appResetControl [reset]="!autoResetAllowance.checked">
        <mat-datepicker-toggle matSuffix [for]="resetDatePicker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile()" #resetDatePicker></mat-datepicker>
        <mat-error *ngIf="allowanceSettingsForm.hasError('resetDateRequired')">
          Initial reset date is required
        </mat-error>
        <mat-error *ngIf="allowanceSettingsForm.get('resetDate').hasError('matDatepickerParse')">
          Date is not in the correct format
        </mat-error>
      </mat-form-field>

      <div fxFlex.gt-md="50" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
        <mat-slide-toggle #carryOverUnusedLeave formControlName="carryOverUnusedLeave">Allow to carry over unused
          leave
        </mat-slide-toggle>
      </div>

      <mat-form-field fxFlex.gt-md="50" fxFlex.md="45" fxFlex.sm="40" fxFlex.xs="80">
        <input aria-label="Carry over unused leave" matInput [type]="'number'" placeholder="Maximum days to carry over"
               formControlName="numberOfDaysToCarryOver" appDisableControl [disable]="!carryOverUnusedLeave.checked"
               appResetControl [reset]="!carryOverUnusedLeave.checked">
        <mat-error *ngIf="allowanceSettingsForm.get('numberOfDaysToCarryOver').touched &&
        allowanceSettingsForm.get('numberOfDaysToCarryOver').hasError('pattern')">
          Number of days to carry over can contains only numerical value
        </mat-error>
        <mat-error *ngIf="allowanceSettingsForm.get('numberOfDaysToCarryOver').touched &&
        allowanceSettingsForm.get('numberOfDaysToCarryOver').hasError('min')">
          Number of days to carry over cannot be negative
        </mat-error>
        <mat-error *ngIf="allowanceSettingsForm.get('numberOfDaysToCarryOver').touched &&
        allowanceSettingsForm.get('numberOfDaysToCarryOver').hasError('required')">
          Number of days to carry over is required
        </mat-error>
        <mat-error *ngIf="allowanceSettingsForm.get('numberOfDaysToCarryOver').touched &&
        allowanceSettingsForm.get('numberOfDaysToCarryOver').hasError('null')">
          Number of days to carry over is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>

  <button aria-label="Save" id="allowance-settings-submit-button" type="submit" class="c-btn" mat-raised-button
          color="accent" [disabled]="!isValid()" (click)="save()">Save
  </button>
</section>
