<app-page-header [header]="'Delegation'"></app-page-header>
<section class="c-drawer">
  <md-toolbar [color]="'primary'">Apply for a delegation</md-toolbar>
  <md-card>
    <form class="c-form" [formGroup]="applicationForm">
      <div formGroupName="name">
        <md-form-field class="c-form__element">
          <label for="delegation-subject-id"></label>
          <input mdInput required="required" placeholder="Subject ID" id="delegation-subject-id"
                 name="subjectId" value="{{delegationApplication.subjectId}}" formControlName="subjectId">
        </md-form-field>

        <md-form-field class="c-form__element">
          <label for="delegation-first-name"></label>
          <input mdInput required="required" placeholder="Subject ID" id="delegation-first-name"
                 name="firstName" value="{{delegationApplication.firstName}}">
        </md-form-field>

        <md-form-field class="c-form__element">
          <label for="delegation-middle-name"></label>
          <input mdInput placeholder="Middle name" id="delegation-middle-name" name="middleName"
                 value="{{delegationApplication.middleName}}" formControlName="middle">
        </md-form-field>

        <md-form-field class="c-form__element">
          <label for="delegation-last-name"></label>
          <input mdInput required="required" placeholder="Last name" id="delegation-last-name" name="lastName"
                 value="{{delegationApplication.lastName}}" formControlName="last">
        </md-form-field>
      </div>

      <div formGroupName="organisation">
        <md-form-field class="c-form__element">
          <label for="delegation-position"></label>
          <input mdInput required="required" placeholder="Position" id="delegation-position" name="position"
                 value="{{delegationApplication.position}}" formControlName="position">
        </md-form-field>

        <md-form-field class="c-form__element">
          <label for="delegation-last-name"></label>
          <input mdInput required="required" placeholder="Department" id="delegation-department" name="department"
                 value="{{delegationApplication.department}}" formControlName="department">
        </md-form-field>
      </div>

      <div>
        <div formGroupName="delegation">
          <md-form-field class="c-form__element">
            <input #country mdInput placeholder="Country" aria-label="Country" [mdAutocomplete]="'auto'"
                   [formControl]="countryCtrl">
            <md-autocomplete #auto="mdAutocomplete">
            </md-autocomplete>
          </md-form-field>

          <md-form-field class="c-form__element">
            <label for="delegation-city"></label>
            <input #city mdInput placeholder="City" id="delegation-city" name="city" formControlName="city">
          </md-form-field>

          <span class="c-form__element">
            <p-calendar #dateRange class="c-calendar" [inline]="false" [selectionMode]="'range'" [showIcon]="true"
                        [readonlyInput]="true" [selectOtherMonths]="true" [dateFormat]="'dd/mm/yy'"
                        [showButtonBar]="true" formControlName="dateRange">
            </p-calendar>
          </span>

          <md-form-field class="c-form__element">
            <label for="delegation-budget"></label>
            <input #budget mdInput placeholder="Budget" id="delegation-budget" name="budget" formControlName="budget">
          </md-form-field>

          <button class="c-form__element--right" md-raised-button color="accent"
                  (click)="addNewDelegation(country.value, city.value, dateRange.value, budget.value)">Add
          </button>
        </div>

        <div class="c-drawer__table">
          <md-table [dataSource]="delegationApplication.delegations">
            <ng-container mdColumnDef="country">
              <md-header-cell *mdHeaderCellDef> Country</md-header-cell>
              <md-cell *mdCellDef="let delegation"> {{delegation.destination.country}}</md-cell>
            </ng-container>

            <ng-container mdColumnDef="city">
              <md-header-cell *mdHeaderCellDef> City</md-header-cell>
              <md-cell *mdCellDef="let delegation"> {{delegation.destination.city}}</md-cell>
            </ng-container>

            <ng-container mdColumnDef="budget">
              <md-header-cell *mdHeaderCellDef> City</md-header-cell>
              <md-cell *mdCellDef="let delegation"> {{delegation.budget}}</md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
        </div>
      </div>
    </form>
  </md-card>
</section>
