.c-drawer {
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;

  &__table {
    width: 80%;
  }
}

.c-form {
  &__element {
    width: 40%;

    &--right {
      margin-left: 70%;
    }
  }
}

.c-calendar {
  padding: 14%;
}
