@import 'variables';

.c-drawer {
  margin-left: $drawer-margin;
  margin-top: $workspace-margin-top;
  width: $drawer-width;

  &__element {
    margin-top: 3%;
    min-height: 100px;
    overflow-y: hidden;
  }

  &__tab {
    &--heavy {
      border: 1px solid #e8e8e8;
    }
  }
}
