<section fxLayout="row wrap">
  <app-page-header [header]="'Account'"></app-page-header>
</section>

<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Your account</mat-toolbar>
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="c-drawer__c-tab--heavy">
        <mat-tab label="Password" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
                 fxLayoutAlign.lt-sm="center center">
          <ng-template mat-tab-label>
            <mat-icon>security</mat-icon>
          </ng-template>
          <form [formGroup]="passwordForm" class="c-drawer__element" fxLayout="column" fxFlex.gt-xs="50"
                fxFlex.xs="100">
            <mat-form-field>
              <input type="password" #currentPassword matInput placeholder="Current password"
                     formControlName="oldPassword">
            </mat-form-field>
            <mat-error *ngIf="passwordForm.get('oldPassword').touched &&
            passwordForm.get('oldPassword').hasError('required')">
              Password is required
            </mat-error>

            <mat-form-field>
              <input type="password" #newPassword matInput placeholder="New password"
                     formControlName="newPassword">
            </mat-form-field>
            <mat-error *ngIf="passwordForm.get('oldPassword').touched &&
            passwordForm.get('oldPassword').hasError('required')">
              Password is required
            </mat-error>

            <mat-form-field>
              <input type="password" #repeatPassword matInput placeholder="Repeat new password"
                     formControlName="newPasswordRepeat">
            </mat-form-field>
            <mat-error *ngIf="!arePasswordsIdentical(newPassword.value, repeatPassword.value)">
              Passwords do not match
            </mat-error>
          </form>
          <button type="submit" mat-raised-button color="accent" [disabled]="!passwordForm.valid"
                  (click)="savePassword()">Save
          </button>
        </mat-tab>
        <mat-tab label="Email">
          <ng-template mat-tab-label>
            <mat-icon>email</mat-icon>
          </ng-template>
          <form [formGroup]="emailForm" class="c-drawer__element" fxLayout="column" fxFlex.gt-xs="50" fxFlex.xs="100">
            <mat-form-field>
              <input type="email" #currentEmail matInput placeholder="Email"
                     formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="emailForm.get('email').hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailForm.get('email').touched &&
        emailForm.get('email').hasError('required')">
              Email is required
            </mat-error>
          </form>
          <button type="submit" mat-raised-button color="accent" [disabled]="!emailForm.valid">Save</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</section>
