<section fxLayout="row wrap">
  <app-page-header [header]="'Employees'"></app-page-header>

  <div fxLayoutAlign="center center" fxFlex="100">
    <mat-spinner aria-label="loading" *ngIf="isFetching"></mat-spinner>
  </div>
</section>

<section role="main" class="c-drawer" *ngIf="!isFetching">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="c-table">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell aria-label="Person ID" *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.subjectId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell aria-label="Name" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="position">
        <mat-header-cell aria-label="Position" *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.position}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</section>
