$black: #000;
$light-grey: #E7E7E6;
$navbar-background-color: #F5F5F5;
$navbar-icon-color: #888;
$navbar-icon-highlight-color: #EBEBEB;
$light-red: #F44336;
$white: #FFF;
$whitesmoke: #F5F5F5;

$drawer-width: 80%;
$drawer-margin: 10%;
$drawer-btn-right-margin: 30%;
$workspace-margin-top: 2%;

$dashboard-main-font: 4em;
$dashboard-secondary-font: 1.5em;

$login-background-url: '/assets/login_background.jpg';
