$black: #000;
$light-grey: #e7e7e6;
$navbar-background-color: #f5f5f5;
$navbar-icon-color: #888;
$navbar-icon-highlight-color: #ebebeb;
$light-red: #f44336;
$white: #fff;
$whitesmoke: #f5f5f5;

$drawer-width: 80%;
$drawer-margin: 10%;
$drawer-btn-right-margin: 30%;
$workspace-margin-top: 2%;

$dashboard-main-font: 3.2em;
$dashboard-main-font-tablet: 2.5em;
$dashboard-main-font-smartphone: 2em;
$dashboard-secondary-font: 1.5em;

$login-background-url: '/assets/login_background.jpg';
