<section fxLayout="row wrap">
  <app-page-header [header]="'Manage delegations'"></app-page-header>

  <div fxLayoutAlign="center center" fxFlex="100">
    <mat-spinner aria-label="loading" *ngIf="isFetching"></mat-spinner>
  </div>
</section>

<section class="c-drawer" *ngIf="!isFetching">
  <mat-toolbar [color]="'primary'">Manage delegation applications</mat-toolbar>
  <mat-card role="presentation">
    <mat-table role="table" #table [dataSource]="dataSource">

      <ng-container matColumnDef="applicationId">
        <mat-header-cell aria-label="Application ID" *matHeaderCellDef> Application ID</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.applicationId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell aria-label="From" *matHeaderCellDef> From</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.startDate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell aria-label="To" *matHeaderCellDef> To</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.endDate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <mat-header-cell aria-label="Employee name" *matHeaderCellDef> Employee name</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication">
          <div *ngIf="getSubjectFullName(delegationApplication.subjectId) as subject; else loadingTemplate">
            {{subject.firstName}} {{subject.lastName}}
          </div>
          <ng-template #loadingTemplate>loading...</ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell aria-label="Country" *matHeaderCellDef> Country</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.country.countryName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="city">
        <mat-header-cell aria-label="City" *matHeaderCellDef> City</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.city}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="budget">
        <mat-header-cell aria-label="Budget" *matHeaderCellDef> Budget</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication"> {{delegationApplication.budget | currency:'GBP'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reject">
        <mat-header-cell aria-label="Reject" *matHeaderCellDef> Reject</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication">
          <button aria-label="Reject" type="submit" mat-icon-button color="accent"
                  (click)="rejectDelegationApplication(delegationApplication.processInstanceId)">
            <mat-icon class="mat-24">cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="approve">
        <mat-header-cell *matHeaderCellDef> Approve</mat-header-cell>
        <mat-cell *matCellDef="let delegationApplication">
          <button aria-label="Accept" mat-icon-button color="accent"
                  (click)="approveDelegationApplication(delegationApplication.processInstanceId)">
            <mat-icon class="mat-24">done</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </mat-card>
</section>
