<app-page-header [header]="'Leave application'"></app-page-header>
<section class="c-drawer">
  <mat-toolbar [color]="'primary'">Apply for a leave</mat-toolbar>
  <mat-card>
    <form fxLayout.gt-sm="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around"
          fxLayoutAlign.lt-sm="center center">
      <mat-radio-group [required]="true" [(ngModel)]="selectorType"
                       [ngModelOptions]="{standalone: true}" name="selectorType" ngDefaultControl>
        <mat-radio-button class="c-radio__option" value="single" fxFlex="33">Single day</mat-radio-button>
        <mat-radio-button class="c-radio__option" value="range" fxFlex="33">Range</mat-radio-button>
      </mat-radio-group>
      <mat-select placeholder="Leave type">
        <mat-option *ngFor="let leaveType of leaveTypes" [(ngModel)]="leaveApplication.leaveType" name="leaveType">
          {{ leaveType }}
        </mat-option>
      </mat-select>
      <mat-form-field class="c-textarea">
          <textarea matInput #message maxlength="500" placeholder="Message (optional)"
                    [(ngModel)]="leaveApplication.message" name="message"></textarea>
        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
      </mat-form-field>
      <app-date-range *ngIf="selectorType == 'range'; else single_date_template" fxFlex="100" [mainFlexProperty]="50"
                      [mobileFlexProperty]="100" (updateStartDate)="setStartDate($event)"
                      (updateEndDate)="setEndDate($event)"></app-date-range>
      <ng-template #single_date_template>
        <input matInput [matDatepicker]="singleDate" placeholder="Choose a date" name="singleDate"
               formControlName="singleDate">
        <mat-datepicker-toggle matSuffix [for]="singleDate"></mat-datepicker-toggle>
        <mat-datepicker #dateTo [touchUi]="isMobile()"></mat-datepicker>
      </ng-template>
    </form>
  </mat-card>
</section>
