@import 'variables';

.c-drawer {
  margin-left: $drawer-margin;
  margin-top: $workspace-margin-top;
  width: $drawer-width;

  &__element {
    margin-top: 3%;
    width: 100%;
  }

  &__actions {
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 2%;
  }

  &__li {
    font-style: italic;
    margin-bottom: 10px;
  }

  &__paragraph {
    display: block;
  }
}

.c-loading-spinner {
  margin-left: 2%;
}
