@import 'variables';

.c-number-indicator {
  &__num {
    font-size: $dashboard-main-font;
    text-align: center;

    @media screen and (max-width: 1280px) {
      font-size: $dashboard-main-font-tablet;
    }

    @media screen and (max-width: 840px) {
      font-size: $dashboard-main-font-smartphone;
    }
  }

  &__txt {
    font-size: $dashboard-secondary-font;
    margin-top: 20px;
    text-align: center;
  }
}
