@import 'variables';

.c-sidenav {
  height: 100%;
  position: fixed;
  width: 100%;

  &__bar {
    background-color: $navbar-background-color;
  }

  &__list {
    margin-top: 10%;
  }

  &__switch {
    display: inline-block;
  }

  &__title {
    display: inline-block;
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;
    width: 100%;
  }
}
