<div class="c-static-modal">
  <h3 class="c-static-modal__header">Expired</h3>
  <p class="c-static-modal__text">
    Session has expired.
    Please either refresh session, or logout.
  </p>
  <button aria-label="Refresh" type="Submit" mat-raised-button class="c-static-modal__btn" color="accent"
          [mat-dialog-close]="false" (click)="refreshToken()">Refresh
  </button>
  <button aria-label="Logout" type="Submit" mat-raised-button class="c-static-modal__btn" color="warn"
          [mat-dialog-close]="true" (click)="logout()">Logout
  </button>
</div>
